body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 550px;
    height: 550px;
    padding: 115px 52px;
    background-color: #ECFDF5;
}

.hero {
    width: 446px;
}

#separator {
    border-bottom: 1px solid #D5D4D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
}

h1 {
    margin:0;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #2B283A;
}

.emphasis {
    color: #10B981;
}

h4 {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
}

#pwd-btn {
    width: 191px;
    height: 42px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #10B981;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.pwd {
    background: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #5DEF92;  
}

#pwd-options {
    width: 446px;
    display: flex;
    justify-content: space-between
}

h6 {
    margin: 5px 0;
    color: #2B283A;
}

.char-option-toggles {
    width: 30%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.char-option-labels {
    width: 43%;
    display: flex;
    justify-content: space-between;
}







.slidecontainer {
  width: 25%; /* Width of the outside container */
  margin:0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #10B981; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #10B981; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* The switch - the box around the toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggle */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle {
  background-color: #10B981;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #10B981;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}